@charset "UTF-8";

.main {
	margin-left: 15%;
	margin-right: 15%;
}
.board_view_wrap {
	margin-top: 50px;
	margin-bottom: 50px;
}
.board_view {
	width: 100%;
	border-top: 2px solid #000;
	 
}

.board_view .btitle {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}


.board_view .binfo {
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}
.board_view .binfo dl {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.board_view .binfo dl dd,
.board_view .binfo dl dt{
	display: inline-block;
	font-size: 1.4rem;
}


.board_view .binfo dl dd{
	margin-left: 10px;
	color: #777;
}

.board_view .binfo dl:first-child {
	padding-left: 0;
}

.board_view .binfo dl::before{
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;
}
.board_view .binfo dl:first-child::before {
	display: none;
}

.board_view .cont{
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}
.reply_view {
	width: 100%;
	font-size: 0;
}
.reply_view dl {
	font-size: 1rem;
	width:100%;
	display: inline-block;
}
.reply_view .ref_btn{
	text-align: right;
	margin-right: 9.5%;
}

.reply_view dt {
	margin-left: 3%;
	margin-bottom: 5px;
	font-weight: 600;
}
.reply_view .content {
	display: block;
	border: 2px solid black;
	width: 90%;
	height: 100px;
	padding: 15px;
	box-sizing: border-box;
	resize: none;
}
.reply_view .on {
	background: black;
	color: white;
	width: 80px;
	height: 40px;
	font-size: 17px;
}
.reply_view .reply_list {
	width: 87%;
	margin-left: 3%;
	border: 1px solid black;
	display: inline-block;
}


.reply_view .reply_info {
	display:inline;
	text-align: right;
}
.reply_view .reply_info dd
, .reply_view .reply_info a{
	color: #c0c0c0;
	display:inline;
	text-align: right;
}
.reply_cont {
	display: block;
	border: 2px solid black;
	width: 87%;
	height: 100px;
	padding: 15px;
	box-sizing: border-box;
	resize: none;
}