@charset "UTF-8";

.main {
	margin-left: 15%;
	margin-right: 15%;
}
.board_view_wrap {
	margin-top: 50px;
	margin-bottom: 50px;
}
.board_view {
	width: 100%;
	border-top: 2px solid #000;
	 
}

.board_view .btitle {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}


.board_view .binfo {
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}
.board_view .binfo dl {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.board_view .binfo dl dd,
.board_view .binfo dl dt{
	display: inline-block;
	font-size: 1.4rem;
}


.board_view .binfo dl dd{
	margin-left: 10px;
	color: #777;
}

.board_view .binfo dl:first-child {
	padding-left: 0;
}

.board_view .binfo dl::before{
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;
}
.board_view .binfo dl:first-child::before {
	display: none;
}

.board_view .cont{
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}
