@charset "UTF-8";
 body{
            margin: 0 auto;
        }
        #body_content1{
            margin: 87px;
            margin-bottom: 60px;
        }
        #content{
            display: inline-flex;
            width: 100%;
            justify-content: center;
        }
        #content_in{
            width: 1125px; /* width: 950px;  */
        }
        #proimage{
            width: 236px;
            height: 145px;
            background-color: pink;
            margin-right: 20px;
        }
        #pro{
            display: inline-flex;
            margin-top: 20px;
        }
        #pro_sub, #percent{
            margin-top: 0px;
            margin-bottom: 15px;
        }
        #pro_sub{
            font-size: 17px;
            height:73px ; 
            width:810px;
            max-height: 73px;
            max-width: 810px;

        }
        #pro_ab{
            display: inline;
        }
        #percent{
            color: red;
        }
        #much{
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
        }
        #much h4{
            margin-top: 0px;
        }
        table{
            width: 91%;
            float: none;
            margin: auto;
        }
        tr :nth-child(1), tr :nth-child(2){
            text-align: left;
        }
        tr :nth-child(3){
            text-align: right;
        }
        tr :nth-child(4){
            text-align: right;
            width:120px;
        }
        th h3{
            margin-bottom: 7px;
            margin-top: 8px;
            width: 127px;
        }
        td h4{
            margin-bottom: 7px;
            margin-top: 8px;
        }
        th {
            width: 150px;
        }
        .paybt {
            background-color: lightgray;
            color: black;
            border: none;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 16px;
            width: 85px;
            height: 35px;
            padding-left: 11px;
            cursor: pointer;
        }
        tr textarea{
            height: 21px;
            resize:none;
            font-size: 15px;
        }
        .btn_di{
            background-color: lightgray;
            color: black;
            border: none;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 16px;
            width: 108px;
            height: 35px;
            padding-left: 11px;
            cursor: pointer;
        }
        #coinerr{
            color: red;
            text-align: right;
            display: none;
        }
        .count{
            width: 330px;
            font-weight: bolder;
        }
        td h2{
            margin: 0px;
        }
        th input[type="checkbox"]{
            width: 20px;
            height: 20px;
        }
        .checkbox{
            width: 40px;
        }
        #btn_back, #btn_fini{
            width: 250px;
            height: 45px;
            color: black;
            border: none;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 25px;
            
        }
        #btn_back{
            background-color: lightgray;
            margin-left:250px;
        }
        #btn_fini{
            background-color: rgb(192, 57, 43);
            color: white;
            margin-right: 250px;
        }
        #btn{
            display: flex;
            justify-content: space-around;
        }
        input[type="button"]{
        	cursor: pointer;
        }
        #howMuch{
        	color: red;
        }
        #finish, #finishsub{
        	text-align:center;
        }
        #finish{
        	color: red;
        }
        #AskBtn2{
            float: right;
            background-color: lightgray;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: 800;
            font-size: 15px;
            width: 80px;
            height: 35px;
            margin-top: 17px;
		}
		
		 .outer, .outer2{
		 	margin-top: 50px;
		  	padding-top: 30px;
            padding-bottom: 30px;
        	background-color:lightgray;
        	display:flex;
        	justify-content: center;
        	align-items: center;

        }
        #box_1{
            border: lightgray 3px solid;
            background-color: white;
            border-radius: 15px;
            width: 100%;
            max-width:498px;
            height:100%;
            padding: 25px;
        }
        #Ask_creater{
            margin-top: 0px;
        }
        .modal_n{
            margin-top: 0px;
            margin-bottom: 10px;
            width: 115px;
        }
        .modal_con{
        	resize: none; 
            min-height: 20px;
            margin-bottom: 10px;
            vertical-align: middle;
        }
        #AskBtn{
            float: right;
            background-color: lightgray;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: 800;
            font-size: 15px;
            width: 80px;
            height: 35px;
            margin-top: 17px;
		}
		th{
		vertical-align: top;
		}
		th :nth-child(1) {
		text-align: left;
		}
		th :nth-child(2) {
		text-align: right;
		}
		.AskBtn{
            float: right;
            background-color: lightgray;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: 800;
            font-size: 15px;
            width: 80px;
            height: 35px;
            margin-top: 17px;
		}
		#AskDetail{
			vertical-align: top;
		}
		